#! This file belongs in ~/.ssh/config
#
Host hyades
  HostName hyades.ucsc.edu
  User alui2

Host firedance
  HostName firedance.soe.ucsc.edu
  User alui2

Host citrisdance
  HostName citrisdance.soe.ucsc.edu
  User alui2

Host grape
  HostName grape.soe.ucsc.edu
  User alui2

#cat ~/.ssh/id_rsa.pub | ssh alui2@hyades.ucsc.edu 'cat >> ~/.ssh/authorized_keys2'
#cat ~/.ssh/id_rsa.pub | ssh alui2@citrisdance.soe.ucsc.edu 'cat >> ~/.ssh/authorized_keys'
